.closeicon {
  padding-top: 2vmin;
  padding-right: 4vmin;
  text-align: right;
  cursor: pointer;
}
.closeicon img {
  height: 5vh;
}

.menuicon {
  cursor: pointer;
}
.menuicon img {
  height: 7vh;
}

.nav-items {
  /* background-color: pink; */
  height: 97%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.session-login {
  /* background-color: darkcyan; */
}

.spotify {
  width: 90%;
  height: 90vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  overflow: scroll;
}
.spotify button {
  outline: none;
  background-color: rgb(22, 22, 22);
  color: white;
  height: 30px;
  border-radius: 5px;
  width: fit-content;
}

.player-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.spotify-listening {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  text-align: center;
}

.spotify-user-info {
  text-align: left;
  position: absolute;
  top: 17vh;
  line-height: 5vmin;
}

.spotify-playlists {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.spotify-playlist-songs {
  overflow: scroll;
}
