.closeicon {
  padding-top: 2vmin;
  padding-right: 4vmin;
  text-align: right;
  cursor: pointer;
}
.closeicon img {
  height: 5vh;
}

.menuicon {
  cursor: pointer;
  align-self: left;
}
.menuicon img {
  height: 7vh;
}

.nav-items {
  /* background-color: pink; */
  height: 97%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.session-login {
  margin-left: 10vw;
  height: 10%;
}
.session-login button {
  outline: none;
  background-color: rgb(22, 22, 22);
  color: white;
  height: 30px;
  border-radius: 5px;
  width: fit-content;
}

.spotify {
  width: 92%;
  height: 85vh;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 100%;
  overflow: scroll;
}
.spotify button {
  outline: none;
  background-color: rgb(22, 22, 22);
  color: white;
  height: 30px;
  border-radius: 5px;
  width: fit-content;
}

.player-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.player-btns button {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-btns img {
  justify-self: center;
  align-self: center;
  height: 10px;
  width: auto;
}

.spotify-listening {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  text-align: center;
}

.spotify-user-info {
  text-align: left;
  position: absolute;
  top: 17vh;
  line-height: 5vmin;
}

.player {
  width: 260px;
  text-align: left;
}

.player-title {
  line-height: 3vmin;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 3vmin;
  font-weight: 200;
}
.player-title span {
  color: grey;
}

.spotify-playlists {
  margin-left: 3vw;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.spotify-playlists ul {
  padding: 0;
}

.spotify-playlist-songs {
  overflow: scroll;
}

.playlist {
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 1.2vmin;
  min-width: 15vw;
}

.playlist-song {
  font-size: 12px;
  margin-top: 1vmin;
}

.playlist-song span {
  color: grey;
}
